SaveMyMoney.Android/obj/Debug
SaveMyMoney.Android/obj/Release
SaveMyMoney.Android/bin/Debug
SaveMyMoney.Android/bin/Release
SaveMyMoney/bin/Debug
SaveMyMoney/bin/Release
SaveMyMoney/obj/Debug
SaveMyMoney/obj/Release
