SaveMyMoney.Android/obj/Debug
SaveMyMoney.Android/obj/Release
SaveMyMoney.Android/bin/Debug
SaveMyMoney.Android/bin/Release
SaveMyMoney/bin/Debug
SaveMyMoney/bin/Release
SaveMyMoney/obj/Debug
SaveMyMoney/obj/Release
SaveMyMoney/obj/Debug/netstandard2.0/SaveMyMoney.csprojAssemblyReference.cache
SaveMyMoney.Android/obj/Debug/90/android/assets/SaveMyMoney.dll
SaveMyMoney.Android/obj/Debug/90/android/assets/SaveMyMoney.pdb
SaveMyMoney.Android/obj/Debug/90/SaveMyMoney.Android.csprojAssemblyReference.cache
SaveMyMoney/bin/Debug/netstandard2.0/SaveMyMoney.dll
SaveMyMoney/bin/Debug/netstandard2.0/SaveMyMoney.pdb
SaveMyMoney/obj/Debug/netstandard2.0/SaveMyMoney.csprojAssemblyReference.cache
SaveMyMoney/obj/Debug/netstandard2.0/SaveMyMoney.dll
SaveMyMoney/obj/Debug/netstandard2.0/SaveMyMoney.pdb
