SaveMyMoney.Android/obj/
SaveMyMoney.Android/bin/
SaveMyMoney/bin/
SaveMyMoney/obj/
SaveMyMoney/obj/Debug/netstandard2.0/SaveMyMoney.csprojAssemblyReference.cache
SaveMyMoney.Android/obj/Debug/90/android/assets/SaveMyMoney.dll
SaveMyMoney.Android/obj/Debug/90/android/assets/SaveMyMoney.pdb
SaveMyMoney.Android/obj/Debug/90/SaveMyMoney.Android.csprojAssemblyReference.cache
SaveMyMoney/bin/Debug/netstandard2.0/SaveMyMoney.dll
SaveMyMoney/bin/Debug/netstandard2.0/SaveMyMoney.pdb
SaveMyMoney/obj/Debug/netstandard2.0/SaveMyMoney.csprojAssemblyReference.cache
SaveMyMoney/obj/Debug/netstandard2.0/SaveMyMoney.dll
SaveMyMoney/obj/Debug/netstandard2.0/SaveMyMoney.pdb
